.App {
  background-color: #cccccc;
  min-height: 100vh;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  background-color: #ff6347;
  color: #ffffff;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

main section {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
